<h1 >Marvellous Infosystems Reactive Form </h1>

<p>
  <a href="https://www.marvellousinfosystems.com">Marvellous Infosystems</a>
</p>

<form [formGroup]="userForm" (submit)="saveUser()">
  <label> Name </label>
  <input formControlName="name" placeholder="Name"/>
  <control-messages [control]="userForm.get('name')"></control-messages>

  <label> Email </label>
  <input formControlName="email" />
  <control-messages [control]="userForm.get('email')"></control-messages>

  <label> Feedback </label>
  <textarea formControlName="profile"></textarea>
  <control-messages [control]="userForm.get('profile')"></control-messages>

  <button type="submit" [disabled]="!userForm.valid"> Submit Form </button>
</form>